.login_body{
background-color: #008540;
display: flex;
justify-content: left;
color: white;


}


#loginWelcome {
    position: absolute;
    right: 30rem; 
    top: -9vh;
    bottom: 0;
    z-index: 2;
    font-size: 7rem; 
    line-height: 0.9; 
    text-align: left; 
    
}


#loginComp1 {
    
    right: 0vw; 
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 60%;
    width: auto;
    height: auto;
    min-height: 200px;  
    object-fit: contain;
}

#loginVec1 {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 60%;
    width: auto;
    height: auto;
    min-height: 200px;  
    object-fit: contain;  
   
}

#loginVec2 {
    
    right: 0vw;
    top: 0;
    max-width: 25%;
}

#loginVec3 {
    right: 47vw;
    top: 19vh;
    max-width: 25%;
}

#loginVec4 {
    right: 20vw;
    top: 0;
}

#loginVec5 {
    position: fixed;
    bottom: 0;
    right: 600px;
    max-width: 60%;
    width: auto;
    height: auto;
    min-height: 200px;  
    object-fit: contain;   
}

#loginVec6 {
    right: 0vw;
    top: 10vh;
    max-width: 12%;
}

.loginLogImage {
    position: fixed;
    height: auto;
    max-width: 100%;
    width: auto;
}
