body{
background-color: #008540;
display: flex;
justify-content: left;
color: white;


}

#Welcome {
    position: absolute;
    right: -40rem; 
    top: 3vh;
    bottom: 0;
    z-index: 50;
    font-size: 6rem; 
    line-height: 0.9; 
    text-align: left; 
    
}

p > strong > a {
    color: white;
}

#comp1 {
    
    right: 0vw; 
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 60%;
    width: auto;
    height: auto;
    min-height: 200px;  
    object-fit: contain;
}

#vec1 {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 60%;
    width: auto;
    height: auto;
    min-height: 200px;  
    object-fit: contain;  
   
}

#vec2 {
    
    right: 0vw;
    top: 0;
    max-width: 25%;
}

#vec3 {
    right: 47vw;
    top: 19vh;
    max-width: 25%;
}

#vec4 {
    right: 20vw;
    top: 0;
}

#vec5 {
    right: 35vw;
    top: 66vh;
}

#vec6 {
    right: 0vw;
    top: 10vh;
    max-width: 12%;
}

.logImage {
    position: fixed;
    height: auto;
    max-width: 100%;
    width: auto;
}
