/* General Styles */
#LF_text1,
#LF_text2,
#LF_user_pass_labels,
#LF_login_btn,
#LF_signup_btn,
#LF_signup_btn a,
.LF_box,
.LF_form,
.LF_input-box,
.LF_input-box input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  position: relative;
}

.LF_box {
  background-color: black;
  width: 35vw; 
  max-width: 1200px; /* Max width for large screens */
  min-width: 600px; /* min width for large screens */
  min-height: 678px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 6.5rem;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}

#LF_text1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 12vh;
  font-size: 80px;
  font-weight: bold;
}

#LF_text2 {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 400;
}

#LF_text3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 2px;
  line-height: 32px;
  left: 30px;
  font-size: 32px;
  font-weight: 100;
  visibility: hidden;
}


#lf_logo{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -3px;
  line-height: 32px;
  right:  30px;
  font-size: 32px;
  font-weight: 100;
  visibility: hidden;
  width: auto;
  height: 200px;
  
}


#LF_text3 > strong{
  font-size: 35px;
  font-weight: 900;

}


.LF_form {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  margin-top: 3rem;
}

#LF_user_pass_labels {
  font-size: 18px;
}

.LF_input-box {
  position: relative;
  margin-bottom: 0.5rem;
}

.LF_input-box input:focus {
  border-color: #008540;
  outline: none;
}

.LF_input-box input {
  width: 100%;
  padding: 20px;
  border: 2.7px solid white;
  border-radius: 12px;
  background: transparent;
  color: white;
  font-size: 20px;
  height: 65px;
  transition: all 0.3s ease-in-out;
}

#LF_login_btn {
  background-color: #008540;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  width: 100%; /* Full width on smaller screens */
}

#LF_login_btn:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 166, 126, 0.3);
  transform: scale(1.00);
}

#LF_signup_btn {
  font-size: 23px;
  position: relative;
  margin-top: 20px;
  place-self: center;
}

#LF_signup_btn a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  position: relative;
  left: -5px;
}

#LF_signup_btn a:hover {
  background-color: #008540;
  left: 2px;
  box-shadow: 0 0 10px rgba(0, 166, 126, 0.2);
}

/* Media Queries for Responsiveness */



@media screen and (max-width: 1110px) {

#LF_text3{
 
  visibility: visible;
}


}
@media screen and (min-width: 480px) and (max-width: 1024px) {

  #lf_logo{
   
    visibility: visible;
  }
  
  #LF_text2 {
    display: none;
  }

  .LF_box{
  border-radius: 0px;
  
  }

  

  #LF_text1{
    right: 30%;
    top: 40px;
    font-size: 60px;
    
  }
  
  }


  @media screen and (max-width: 480px) {

    #LF_text2 {
      display: none;
    }
    
    #LF_text3{
 
      visibility: visible;
      left: 90px;

    }
    #lf_logo{
       
      visibility: visible;
      right: 90px;
      
    }

    #LF_text1{
      left: 30px;
      top: 30px;
      font-size: 40px;
     
    }

    .LF_input-box input {
      width: 85%;
      left: 30px;
    }
    #LF_login_btn {
      width: 85%;
      left: 30px;

    }
    #LF_signup_btn {
      width: 85%;
      left: 45px;
      font-size: 15px;

    }

    #LF_user_pass_labels {
      width: 85%;
      left: 30px;
    }







  }
  


