.signup_body {
    background-color: #008540;
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    padding: 0; /* Remove padding to ensure full screen form */
    overflow-x: hidden; 
}

/* General styling for logos */
.signup_LogImage {
    position: fixed;
    height: auto;
    max-width: 100%;
    width: auto;
}

/* Image Styling */
#signup_Vec1 {
    position: fixed;
    bottom: 0;
    right: 80px;
    max-width: 60%;
    width: auto;
    height: auto;
    min-height: 200px;
    object-fit: contain;
}

#signup_Vec2 {
    position: fixed;
    right: 0;
    top: 0;
    max-width: 25%;
}

#signup_Vec3 {
    position: fixed;
    right: 80vw;
    top: 19vh;
    max-width: 25%;
}

#signup_Vec4 {
    position: fixed;
    right: 85vw;
    top: 0;
}

#signup_Vec5 {
    position: fixed;
    bottom: 0;
    right: 600px;
    max-width: 60%;
    width: auto;
    height: auto;
    min-height: 200px;
    object-fit: contain;
}

#signup_Vec6 {
    position: fixed;
    right: 0;
    top: 10vh;
    max-width: 12%;
}