.account_body {
    background-color: #008540;
    min-height: 100vh; 
    width: 100%; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    position: relative;
    justify-content: center;
}


#account_items{

display: flex;
flex-direction: column;
gap: 4rem;
}

#account_text{
    font-size: 55px;
    font-weight: 900;
    font-family: "Poppins";
    display: flex;
    justify-content: center; 
    color: white; 
    text-shadow: 2px;
    
    }

    
      
      
      
     

      #account_details_container {
        background-color: black;
        min-height: 75vh; 
        width: 80vw; 
        margin: 0 auto; 
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins';
        position: fixed; 
        bottom: 0; 
        left: 50%; 
        transform: translateX(-50%); 
        justify-content: center;
        
      }


    #account_text2{
    font-size: 2.5vw;
    font-weight: 200;
    font-family: "Poppins";
    display: flex;
    justify-content: left; 
    color: white; 
    position: relative;
    left: 3vw;
    
    }  

    #account_details{
        min-height: 75vh; 
        width: 80vw; 
        
        margin-top: -3vh;
        display: flex;
        flex-direction: row;
        gap: 3vw;
        
        
    }


    #account_details1,#account_details2{

        background-color: white;
        min-height: 50px; 
        width: 50px; 
        
        border-radius: 60px;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins';
        position: relative; 
       
        justify-content: center;
        top: -4vh;
        left: 3vw;

    }
    #account_details1{

        min-height: 32vw; 
        width: 45vw; 



    }

    #account_details2{

       
        min-height: 27vw; 
        width: 26vw; 


    }

    #account_delete_btn{
        position: fixed;
        
        top: 65vh;
        left: 59vw;


    }

    


   
   
   

    
    














/*Background shapes*/

   
    
 
    
    #account_Vec3 {
        right: 80vw;
        top: 19vh;
        max-width: 25%;
    }
    
    #account_Vec4 {
        right: 85vw;
        top: 0;
    }
    
    #account_Vec5 {
        position: fixed;
        bottom: 0;
        left: 80vw;
        max-width: 60%;
        width: auto;
        height: auto;
        min-height: 200px;  
        object-fit: contain;   
    }
    
    #account_Vec6 {
        right: 0vw;
        top: 13vh;
        max-width: 12%;
    }
    
    .account_LogImage {
        position: fixed;
        height: auto;
        max-width: 100%;
        width: auto;
    }